.hedder {
    color: blue;
    font-weight: 700;
}
.carousel-item img{
    height: 500px;
}
.taem img{
    height: 300px;
    margin: auto;
    text-align: right;
}
.team-content{
    width: 700px;
    margin: auto;
}
.team-content samp{
    color: darkgreen;
}
.card h2{
    text-align: center;
    color: green;
    margin: 20px 0px;
}

.last{
    height: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 70px;
}